body{
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color: #222;
    margin-top: 100px;
}

img{
    width: 100%;
}

h1{
    margin: 15px 0;
}

h2{
    margin: 0;
    font-weight: 100;
}

.card{
    display: flex; /*Just a bit of Flex too cuz it looks funny!*/
    background-color: #f3f3f3;
    border-radius: 15px;
    /*If you want to center something and also have space on either side, you must set both margin: 0 auto and have a width.*/
    margin: 0 auto;
    width: 400px;
    text-align: center;
    /*A bit complicate below to make drop shadows. We use rgba instead of hexadecimal values. The "a" in rgba is used for transparency and rgb is used for coloration.*/
    box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
    border: 1px solid #aaa;
}

/*Portfolio Layout Lab additions (Grid)*/
.details{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

.box1{
    background-color: aqua;
    grid-column: 2/4;
    grid-row: 1;
}

.box2{
    background-color: aquamarine;
    grid-column: 1;
    grid-row: 1/3;
}

.box3{
    background-color: chartreuse;
    grid-column: 2;
    grid-row: 3;
}


/* Only changes avatart when it's inside of .card (if you just put .avatar it would do it regardless of where it's located).*/
.card .avatar{
    box-shadow: rgba(0,0,0, 0.1) 0 10px 10px;
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

.contacts{
    margin: 0;
    padding: 0;
    /*Makes bullets not visible. You can also use this to change other things about the bullets!*/
    list-style-type: none;
}

.contacts li{
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover{
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}